## Data Dictionary
1. NDB_No - Nutrition database number
2. Shrt_Desc - Short description
3. Water_(g) - water in grams per 100 grams
4. Energ_Kcal - Energy in Kcal
5. Protein_(g) - Protein
6. LipidTot(g) - Total Lipid
7. Ash_(g) - Ash
8. Carbohydrt_(g) - Carbohydrate, by difference
9. FiberTD(g) - Fiber, total dietary
10. SugarTot(g) - Total Sugars
11. Calcium_(mg) - Calcium
12. Iron_(mg) - Iron
13. Magnesium_(mg) - Magnesium
14. Phosphorus_(mg) - Phosphorus
15. Potassium_(mg) - Potassium
16. Zinc_(mg) - Zinc
17. Copper_(mg) - Copper
18. Manganese_(mg) - Manganese
19. Selenium_(æg) - Selenium
20. Sodium_(mg) - Sodium

In [1]:
#Import all the necessary modules
import pandas as pd
import numpy as np
import os

In [2]:
#Load the Data file into Python DataFrame using pandas read_excel method
df = pd.read_excel("Food_Nutrition.xlsx")

In [3]:
#Using the Head function to view the top records
df.head(10)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg)
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24,0.02,2,24,24,643,0.09,0.000,0.000,1.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,23,0.05,1,24,41,583,0.05,0.010,0.001,0.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,4,0.00,0,3,5,2,0.01,0.001,0.000,0.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,NaN,2.34,0.0,0.50,528,0.31,23,387,256,1146,2.66,0.040,0.009,14.5
4,1005,"CHEESE,BRICK",41.11,371,23.24,NaN,3.18,2.79,0.0,0.51,674,0.43,24,451,136,560,2.60,0.024,0.012,14.5
5,1006,"CHEESE,BRIE",48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,184,0.50,20,188,152,629,2.38,0.019,0.034,14.5
6,1007,"CHEESE,CAMEMBERT",51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,388,0.33,20,347,187,842,2.38,0.021,0.038,14.5
7,1008,"CHEESE,CARAWAY",39.28,376,25.18,29.20,3.28,3.06,0.0,0.00,673,0.64,22,490,93,690,2.94,0.024,0.021,14.5
8,1009,"CHEESE,CHEDDAR",37.02,404,22.87,33.31,3.71,3.09,0.0,0.48,710,0.14,27,455,76,653,3.64,0.030,0.027,28.5
9,1010,"CHEESE,CHESHIRE",37.65,387,23.37,30.60,3.60,4.78,0.0,0.00,643,0.21,21,464,95,700,2.79,0.042,0.012,14.5

In [4]:
#Using the Tail function to view the last records
df.tail(5)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg)
595,3949,"INF FORMULA, ABBOTT NUTR, SIMILAC, ADVANCE, W/...",87.79,66,1.36,3.70,0.38,6.77,0.0,6.90,53,1.18,4,28,69,16,0.49,0.059,0.003,1.2
596,3950,"INF FORMULA,ABBOTT NUTR,SIMILAC,ADVANC,W/ IRON...",2.25,522,10.89,28.87,3.26,54.73,0.0,54.73,410,9.47,32,221,552,126,3.94,0.473,0.026,11.6
597,3951,"INF FORMU,ABBO NUTR,SIMILAC,ADVAN,W/ IRON,LIQ ...",76.16,127,2.64,6.89,0.79,13.52,0.0,13.52,99,2.30,8,54,134,31,0.96,0.115,0.006,2.8
598,3952,"INF FORMULA, ABB NUTR, SIMIL, ISOMIL, ADVA W/ ...",75.81,128,3.13,6.98,0.88,13.21,0.0,13.10,134,2.30,10,96,138,56,0.96,0.096,0.032,2.7
599,3953,"INF FORMULA, ABBO NUTR,SIMIL,ISOMIL, ADVANCE W...",87.54,66,1.61,3.59,0.66,6.70,0.0,6.70,69,1.18,5,49,71,29,0.49,0.049,0.016,1.4

In [5]:
#Using Shape to find the number of Rows and columns in the Dataframe
df.shape

(600, 20)

In [6]:
print("The number of rows are ",df.shape[0],"\n","The number of columns are",df.shape[1])

The number of rows are  600
 The number of columns are 20

In [7]:
#Checking for missing values
df.isnull().sum()

NDB_No             0
Shrt_Desc          0
Water_(g)          0
Energ_Kcal         0
Protein_(g)        0
Lipid_Tot_(g)      1
Ash_(g)            1
Carbohydrt_(g)     0
Fiber_TD_(g)       0
Sugar_Tot_(g)      0
Calcium_(mg)       0
Iron_(mg)          0
Magnesium_(mg)     0
Phosphorus_(mg)    0
Potassium_(mg)     0
Sodium_(mg)        0
Zinc_(mg)          0
Copper_mg)         0
Manganese_(mg)     0
Selenium_(µg)      0
dtype: int64

In [8]:
#Dropping missing values
df=df.dropna()

In [9]:
#Rechecking for missing values
df.isnull().sum()

NDB_No             0
Shrt_Desc          0
Water_(g)          0
Energ_Kcal         0
Protein_(g)        0
Lipid_Tot_(g)      0
Ash_(g)            0
Carbohydrt_(g)     0
Fiber_TD_(g)       0
Sugar_Tot_(g)      0
Calcium_(mg)       0
Iron_(mg)          0
Magnesium_(mg)     0
Phosphorus_(mg)    0
Potassium_(mg)     0
Sodium_(mg)        0
Zinc_(mg)          0
Copper_mg)         0
Manganese_(mg)     0
Selenium_(µg)      0
dtype: int64

In [10]:
#Five-point summary
df.describe()

,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg)
count,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.00000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000,598.000000
mean,2305.448161,60.415870,186.521739,8.640385,8.849649,2.542040,19.395920,2.587458,9.122726,262.01505,4.371622,41.760870,188.610368,311.349498,348.270903,1.532475,0.151381,1.014246,12.426254
std,1081.807819,31.929817,158.540534,10.939719,12.262311,6.494483,21.522166,7.594803,13.927320,376.94743,12.162654,81.460504,226.962501,496.549282,1830.690933,1.970745,0.279639,4.220256,21.833695
min,1001.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1173.250000,39.167500,63.000000,1.702500,0.697500,0.490000,5.560000,0.000000,0.560000,23.25000,0.182500,8.000000,35.000000,95.000000,21.250000,0.300000,0.026000,0.021000,1.800000
50%,2052.500000,76.180000,106.000000,3.900000,3.475000,0.890000,10.840000,0.000000,4.820000,102.00000,0.415000,13.000000,100.500000,141.000000,50.000000,0.670000,0.050000,0.140000,3.650000
75%,3190.750000,85.987500,314.500000,12.385000,13.000000,3.260000,19.147500,1.200000,10.692500,340.00000,1.897500,33.000000,264.250000,255.000000,170.750000,2.360000,0.110000,0.677000,14.500000
max,3953.000000,99.900000,876.000000,84.080000,99.480000,99.800000,86.680000,53.200000,74.460000,2240.00000,123.600000,711.000000,1349.000000,4740.000000,38758.000000,17.460000,2.467000,60.127000,208.100000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598 entries, 0 to 599
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NDB_No           598 non-null    int64
 1   Shrt_Desc        598 non-null    object
 2   Water_(g)        598 non-null    float64
 3   Energ_Kcal       598 non-null    int64
 4   Protein_(g)      598 non-null    float64
 5   Lipid_Tot_(g)    598 non-null    float64
 6   Ash_(g)          598 non-null    float64
 7   Carbohydrt_(g)   598 non-null    float64
 8   Fiber_TD_(g)     598 non-null    float64
 9   Sugar_Tot_(g)    598 non-null    float64
 10  Calcium_(mg)     598 non-null    int64
 11  Iron_(mg)        598 non-null    float64
 12  Magnesium_(mg)   598 non-null    int64
 13  Phosphorus_(mg)  598 non-null    int64
 14  Potassium_(mg)   598 non-null    int64
 15  Sodium_(mg)      598 non-null    int64
 16  Zinc_(mg)        598 non-null    float64
 17  Copper_mg)       598 non-null    float64
 18  Manganese_(mg)   598 non-null    float64
 19  Selenium_(µg)    598 non-null    float64
dtypes: float64(12), int64(7), object(1)
memory usage: 98.1+ KB

In [12]:
#Using shape to check the dimension of the dataframe
df.shape

(598, 20)

In [13]:
# Creating a vector “test” using the top 10 values of variable Protein_(g) since it is a crucial macronutrient
test=df['Protein_(g)'].head(10)
test

0      0.85
1      0.49
2      0.28
5     20.75
6     19.80
7     25.18
8     22.87
9     23.37
10    23.76
11    11.12
Name: Protein_(g), dtype: float64

In [14]:
# Selecting the frst 5 rows of initial 5 variables in a matrix format
df.iloc[0:5, 0:5]

   NDB_No               Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)
0    1001        BUTTER,WITH SALT      15.87         717         0.85
1    1002  BUTTER,WHIPPED,W/ SALT      16.72         718         0.49
2    1003    BUTTER OIL,ANHYDROUS       0.24         876         0.28
5    1006             CHEESE,BRIE      48.42         334        20.75
6    1007        CHEESE,CAMEMBERT      51.80         300        19.80

In [15]:
# Creating a new variable “EPW” by dividing Energ_Kcal with the Protein and finding the dimesnsion of the same
df['EPW']=df['Energ_Kcal']/df['Protein_(g)']

In [16]:
df.head(5)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg),EPW
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.02,2,24,24,643,0.09,0.000,0.000,1.0,843.529412
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.05,1,24,41,583,0.05,0.010,0.001,0.0,1465.306122
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.00,0,3,5,2,0.01,0.001,0.000,0.0,3128.571429
5,1006,"CHEESE,BRIE",48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,0.50,20,188,152,629,2.38,0.019,0.034,14.5,16.096386
6,1007,"CHEESE,CAMEMBERT",51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,0.33,20,347,187,842,2.38,0.021,0.038,14.5,15.151515

In [17]:
# Creating a subset of the dataset, where the Energ_Kcal is less than 500 calories and checking the dimension
df_new=df[df['Energ_Kcal']<500]

In [18]:
#Here we have 36 less rows than originally where Energ_Kcal>500 calories
df_new.shape

(562, 21)

In [19]:
# Finding the top 10 products based on the criteria of - Higher the Energy_Kcal = Higher the ranking
df.sort_values(by='Energ_Kcal',ascending = False).head(10)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg),EPW
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.00,0,3,5,2,0.01,0.001,0.000,0.0,3128.571429
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.05,1,24,41,583,0.05,0.010,0.001,0.0,1465.306122
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.02,2,24,24,643,0.09,0.000,0.000,1.0,843.529412
131,1145,"BUTTER,WITHOUT SALT",17.94,717,0.85,81.11,0.09,0.06,0.0,0.06,...,0.02,2,24,24,11,0.09,0.016,0.004,1.0,843.529412
125,1137,"EGG,YOLK,DRIED",3.08,669,33.63,59.13,3.51,0.66,0.0,0.23,...,9.56,26,1040,264,149,7.73,0.000,0.185,139.3,19.892953
122,1134,"EGG,WHL,DRIED,STABILIZED,GLUCOSE RED",1.87,615,48.17,43.95,3.63,2.38,0.0,0.00,...,8.28,49,715,515,548,5.71,0.270,0.150,121.1,12.767283
121,1133,"EGG,WHL,DRIED",2.78,592,48.05,43.90,4.13,1.13,0.0,0.56,...,7.20,34,629,540,476,3.15,0.203,0.058,164.7,12.320499
63,1070,"DESSERT TOPPING,POWDERED",1.47,577,4.90,39.92,1.17,52.54,0.0,52.54,...,0.03,7,74,166,122,0.08,0.118,0.225,0.6,117.755102
178,1210,"EGG MIX,USDA CMDTY",2.78,555,35.60,34.50,3.15,23.97,0.0,2.46,...,3.23,11,451,373,576,2.76,0.149,0.056,118.0,15.589888
62,1069,"CREAM SUBSTITUTE,POWDERED",2.98,529,2.48,32.92,2.34,59.29,0.0,7.77,...,0.26,1,288,669,124,0.07,0.018,0.011,0.0,213.306452

In [20]:
#Lower the Protein content = Lower the ranking
df.sort_values(by='Protein_(g)',ascending = False).head(10)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg),EPW
216,1258,"EGG,WHITE,DRIED,STABILIZED,GLUCOSE RED",5.48,357,84.08,0.32,5.61,4.51,0.0,0.00,...,0.18,82,104,884,1299,0.13,0.128,0.000,192.0,4.245956
124,1136,"EGG,WHITE,DRIED,PDR,STABILIZED,GLUCOSE RED",8.54,376,82.40,0.04,4.55,4.47,0.0,0.00,...,0.24,72,89,1116,1238,0.16,0.170,0.050,125.1,4.563107
151,1173,"EGG,WHITE,DRIED",5.80,382,81.10,0.00,5.30,7.80,0.0,5.40,...,0.15,88,111,1125,1280,0.10,0.114,0.007,125.1,4.710234
123,1135,"EGG,WHITE,DRIED,FLAKES,STABILIZED,GLUCOSE RED",14.62,351,76.92,0.04,4.25,4.17,0.0,0.00,...,0.23,67,83,1042,1156,0.15,0.230,0.070,116.8,4.563183
130,1144,"EGG SUBSTITUTE,POWDER",3.86,444,55.50,13.00,5.84,21.80,0.0,21.80,...,3.16,65,478,744,800,1.82,0.207,0.080,127.7,8.000000
191,1224,"PROTEIN SUPP,MILK BSD,MUSCLE MILK LT,PDR",12.00,396,50.00,12.00,4.00,22.00,2.0,4.00,...,12.00,280,700,840,250,10.00,1.400,0.677,33.8,7.920000
122,1134,"EGG,WHL,DRIED,STABILIZED,GLUCOSE RED",1.87,615,48.17,43.95,3.63,2.38,0.0,0.00,...,8.28,49,715,515,548,5.71,0.270,0.150,121.1,12.767283
121,1133,"EGG,WHL,DRIED",2.78,592,48.05,43.90,4.13,1.13,0.0,0.56,...,7.20,34,629,540,476,3.15,0.203,0.058,164.7,12.320499
190,1223,"PROTEIN SUPP,MILK BSD,MUSCLE MILK,PDR",15.00,411,45.71,17.14,3.65,18.50,7.1,5.71,...,8.57,200,643,1129,329,7.14,1.000,0.677,33.8,8.991468
159,1185,"PARMESAN CHS TOPPING,FAT FREE",8.60,370,40.00,5.00,6.40,40.00,0.0,1.50,...,5.00,40,700,600,1150,3.00,0.020,0.677,43.3,9.250000

In [21]:
#Create a subset of the data where product_desc contains “CHEESE” and list down the summary statistics of the subset
df_cheese= df[df['Shrt_Desc'].str.contains("CHEESE")]

In [22]:
df_cheese.shape

(74, 21)

In [23]:
df_cheese.describe()

,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg),EPW
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,1102.351351,48.021892,302.945946,20.956216,22.258378,4.102838,4.697568,0.005405,2.050541,632.459459,0.433784,27.243243,472.648649,157.256757,842.094595,2.609595,0.068986,0.081419,15.709459,15.361285
std,95.658702,14.181385,98.547797,6.423714,9.960468,1.730940,5.791562,0.028148,3.257006,296.165966,0.369797,14.965541,189.169666,169.498783,449.944263,1.094450,0.138540,0.181131,6.324104,7.510188
min,1006.000000,13.440000,72.000000,6.150000,0.000000,1.020000,0.000000,0.000000,0.000000,53.000000,0.000000,5.000000,107.000000,26.000000,21.000000,0.330000,0.008000,0.002000,2.800000,4.471831
25%,1024.250000,39.305000,264.000000,17.045000,19.480000,3.272500,2.010000,0.000000,0.322500,497.000000,0.180000,20.250000,377.500000,86.000000,601.000000,1.960000,0.025250,0.011000,14.500000,12.532040
50%,1042.500000,44.550000,330.000000,21.760000,25.320000,3.790000,3.300000,0.000000,0.955000,676.500000,0.370000,27.000000,465.500000,125.000000,707.500000,2.800000,0.031500,0.022000,14.500000,14.806158
75%,1181.750000,52.415000,372.500000,24.502500,29.800000,5.195000,5.395000,0.000000,2.365000,759.750000,0.582500,29.750000,580.750000,156.500000,1123.750000,3.500000,0.036000,0.038750,16.925000,16.897280
max,1271.000000,82.480000,466.000000,37.860000,35.590000,8.030000,42.650000,0.200000,23.670000,1375.000000,1.900000,115.000000,931.000000,1409.000000,1809.000000,4.440000,0.732000,0.677000,35.800000,56.910569

In [24]:
#Using the cut function on Protein variable divide the whole data into 6 bins
data_bins=df

In [25]:
data_bins['bins']=pd.cut(data_bins['Protein_(g)'],6, labels =["A", "B", "C","E","F","G"])

In [26]:
data_bins.head(5)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(µg),EPW,bins
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2,24,24,643,0.09,0.000,0.000,1.0,843.529412,A
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,1,24,41,583,0.05,0.010,0.001,0.0,1465.306122,A
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0,3,5,2,0.01,0.001,0.000,0.0,3128.571429,A
5,1006,"CHEESE,BRIE",48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,20,188,152,629,2.38,0.019,0.034,14.5,16.096386,B
6,1007,"CHEESE,CAMEMBERT",51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,20,347,187,842,2.38,0.021,0.038,14.5,15.151515,B

In [27]:
data_bins["bins"].value_counts()

A    480
B     92
C     17
E      5
G      4
F      0
Name: bins, dtype: int64

In [28]:
data_bins.groupby("bins").describe().T

bins                    A            B            C            E    F  \
NDB_No count   480.000000    92.000000    17.000000     5.000000  0.0
       mean   2510.747917  1562.706522  1127.647059  1171.600000  NaN
       std    1058.594959   782.230392    76.153579    47.574153  NaN
       min    1001.000000  1006.000000  1023.000000  1133.000000  NaN
       25%    1235.750000  1042.750000  1091.000000  1134.000000  NaN
...                   ...          ...          ...          ...  ...
EPW    min       4.705882     5.985748     4.471831     7.920000  NaN
       25%      21.406003    13.257420    10.011062     8.000000  NaN
       50%      35.977337    15.735995    10.961437     8.991468  NaN
       75%      61.904762    19.064957    13.854411    12.320499  NaN
       max            inf    36.061026    19.892953    12.767283  NaN

bins                    G
NDB_No count     4.000000
       mean   1175.500000
       std      57.772542
       min    1135.000000
       25%    1135.750000
...                   ...
EPW    min       4.245956
       25%       4.483819
       50%       4.563145
       75%       4.599945
       max       4.710234

[160 rows x 6 columns]